/*
  __                                             _    
 / _|                                           | |   
| |_ _ __ __ _ _ __ ___   _____      _____  _ __| | __
|  _| '__/ _` | '_ ` _ \ / _ \ \ /\ / / _ \| '__| |/ /
| | | | | (_| | | | | | |  __/\ V  V / (_) | |  |   < 
|_| |_|  \__,_|_| |_| |_|\___| \_/\_/ \___/|_|  |_|\_\

*/
@import url("https://fonts.googleapis.com/css2?family=Cabin&family=Sedgwick+Ave&display=swap");
/* line 11, ../sass/vincent/_grid.scss */
html, body {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0; }

/* line 17, ../sass/vincent/_grid.scss */
*, *:before, *:after {
  box-sizing: inherit; }

/* line 96, ../sass/vincent/_grid.scss */
.d-1-1 {
  width: 100%; }

/* line 99, ../sass/vincent/_grid.scss */
.d-1-2 {
  width: 50%;
  display: inline-block; }

/* line 103, ../sass/vincent/_grid.scss */
.d-1-4 {
  width: 25%;
  display: inline-block; }

/* line 107, ../sass/vincent/_grid.scss */
.d-1-3 {
  width: 33.3%;
  display: inline-block; }

/* line 111, ../sass/vincent/_grid.scss */
.d-2-3 {
  width: 66.6%;
  display: inline-block; }

/* line 115, ../sass/vincent/_grid.scss */
.d-column {
  width: 100%;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto; }

/* line 121, ../sass/vincent/_grid.scss */
.d-1-1,
.d-1-2,
.d-1-4,
.d-1-3,
.d-2-3,
.d-column {
  position: relative;
  padding-left: 30px;
  padding-right: 30px; }

/* line 132, ../sass/vincent/_grid.scss */
.grid {
  position: relative;
  width: 100%; }

/* line 136, ../sass/vincent/_grid.scss */
.grid:after {
  display: table;
  content: "";
  clear: both; }

/* line 142, ../sass/vincent/_grid.scss */
.row {
  height: auto;
  width: 100%;
  margin: 0 auto;
  padding: 60px 0; }
  @media (max-width: 767px) {
    /* line 142, ../sass/vincent/_grid.scss */
    .row {
      padding: 30px 0; }
      /* line 23, ../sass/vincent/_grid.scss */
      .row .p-1-1 {
        width: 100%; }
      /* line 26, ../sass/vincent/_grid.scss */
      .row .p-1-2 {
        width: 50%;
        display: inline-block; }
      /* line 30, ../sass/vincent/_grid.scss */
      .row .p-1-3 {
        width: 33.3%;
        display: inline-block; }
      /* line 34, ../sass/vincent/_grid.scss */
      .row .p-2-3 {
        width: 66.6%;
        display: inline-block; }
      /* line 38, ../sass/vincent/_grid.scss */
      .row .p-0 {
        display: none; }
      /* line 41, ../sass/vincent/_grid.scss */
      .row .p-1-1,
      .row .p-1-2,
      .row .p-1-3,
      .row .p-2-3 {
        position: relative;
        padding-left: 15px;
        padding-right: 15px; } }
  @media (min-width: 768px) and (max-width: 1023px) {
    /* line 142, ../sass/vincent/_grid.scss */
    .row {
      padding: 30px 0; }
      /* line 55, ../sass/vincent/_grid.scss */
      .row .t-1-1 {
        width: 100%; }
      /* line 58, ../sass/vincent/_grid.scss */
      .row .t-1-2 {
        width: 50%;
        display: inline-block; }
      /* line 62, ../sass/vincent/_grid.scss */
      .row .t-1-4 {
        width: 25%;
        display: inline-block; }
      /* line 66, ../sass/vincent/_grid.scss */
      .row .t-1-3 {
        width: 33.3%;
        display: inline-block; }
      /* line 70, ../sass/vincent/_grid.scss */
      .row .t-2-3 {
        width: 66.6%;
        display: inline-block; }
      /* line 74, ../sass/vincent/_grid.scss */
      .row .t-0 {
        display: none; }
      /* line 77, ../sass/vincent/_grid.scss */
      .row .t-1-1,
      .row .t-1-2,
      .row .t-1-4,
      .row .t-1-3,
      .row .t-2-3 {
        position: relative;
        padding-left: 30px;
        padding-right: 30px; } }
  @media (min-width: 1600px) {
    /* line 142, ../sass/vincent/_grid.scss */
    .row {
      padding: 90px 0; } }

/* line 10, ../sass/style.scss */
* {
  box-sizing: border-box; }

/* line 13, ../sass/style.scss */
img {
  width: 100%;
  height: auto; }

/* line 17, ../sass/style.scss */
h1, h2 {
  font-family: 'Sedgwick Ave', cursive;
  color: #000; }

/* line 21, ../sass/style.scss */
h1 {
  font-size: 36px; }
  @media (max-width: 767px) {
    /* line 21, ../sass/style.scss */
    h1 {
      font-size: 28px; }
      /* line 23, ../sass/vincent/_grid.scss */
      h1 .p-1-1 {
        width: 100%; }
      /* line 26, ../sass/vincent/_grid.scss */
      h1 .p-1-2 {
        width: 50%;
        display: inline-block; }
      /* line 30, ../sass/vincent/_grid.scss */
      h1 .p-1-3 {
        width: 33.3%;
        display: inline-block; }
      /* line 34, ../sass/vincent/_grid.scss */
      h1 .p-2-3 {
        width: 66.6%;
        display: inline-block; }
      /* line 38, ../sass/vincent/_grid.scss */
      h1 .p-0 {
        display: none; }
      /* line 41, ../sass/vincent/_grid.scss */
      h1 .p-1-1,
      h1 .p-1-2,
      h1 .p-1-3,
      h1 .p-2-3 {
        position: relative;
        padding-left: 15px;
        padding-right: 15px; } }

/* line 27, ../sass/style.scss */
p, a, ul, li {
  font-family: 'Cabin', sans-serif;
  color: #000;
  font-size: 20px; }
  @media (max-width: 767px) {
    /* line 27, ../sass/style.scss */
    p, a, ul, li {
      font-size: 16px; }
      /* line 23, ../sass/vincent/_grid.scss */
      p .p-1-1, a .p-1-1, ul .p-1-1, li .p-1-1 {
        width: 100%; }
      /* line 26, ../sass/vincent/_grid.scss */
      p .p-1-2, a .p-1-2, ul .p-1-2, li .p-1-2 {
        width: 50%;
        display: inline-block; }
      /* line 30, ../sass/vincent/_grid.scss */
      p .p-1-3, a .p-1-3, ul .p-1-3, li .p-1-3 {
        width: 33.3%;
        display: inline-block; }
      /* line 34, ../sass/vincent/_grid.scss */
      p .p-2-3, a .p-2-3, ul .p-2-3, li .p-2-3 {
        width: 66.6%;
        display: inline-block; }
      /* line 38, ../sass/vincent/_grid.scss */
      p .p-0, a .p-0, ul .p-0, li .p-0 {
        display: none; }
      /* line 41, ../sass/vincent/_grid.scss */
      p .p-1-1,
      p .p-1-2,
      p .p-1-3,
      p .p-2-3, a .p-1-1,
      a .p-1-2,
      a .p-1-3,
      a .p-2-3, ul .p-1-1,
      ul .p-1-2,
      ul .p-1-3,
      ul .p-2-3, li .p-1-1,
      li .p-1-2,
      li .p-1-3,
      li .p-2-3 {
        position: relative;
        padding-left: 15px;
        padding-right: 15px; } }

/* line 35, ../sass/style.scss */
a:hover {
  color: #F44;
  text-decoration-color: #F44; }

/* line 39, ../sass/style.scss */
ul, li {
  list-style: none; }

/* line 42, ../sass/style.scss */
li {
  padding: 25px; }
  @media (max-width: 767px) {
    /* line 42, ../sass/style.scss */
    li {
      padding: 10px; }
      /* line 23, ../sass/vincent/_grid.scss */
      li .p-1-1 {
        width: 100%; }
      /* line 26, ../sass/vincent/_grid.scss */
      li .p-1-2 {
        width: 50%;
        display: inline-block; }
      /* line 30, ../sass/vincent/_grid.scss */
      li .p-1-3 {
        width: 33.3%;
        display: inline-block; }
      /* line 34, ../sass/vincent/_grid.scss */
      li .p-2-3 {
        width: 66.6%;
        display: inline-block; }
      /* line 38, ../sass/vincent/_grid.scss */
      li .p-0 {
        display: none; }
      /* line 41, ../sass/vincent/_grid.scss */
      li .p-1-1,
      li .p-1-2,
      li .p-1-3,
      li .p-2-3 {
        position: relative;
        padding-left: 15px;
        padding-right: 15px; } }

/* line 48, ../sass/style.scss */
li h2 {
  color: #F44;
  display: inline-block;
  margin-right: 15px; }

/* line 54, ../sass/style.scss */
.menu-wrap {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  padding: 0 15%;
  filter: drop-shadow(0 2px 2px #EEE); }
  @media (max-width: 767px) {
    /* line 54, ../sass/style.scss */
    .menu-wrap {
      padding: 0 5%; }
      /* line 23, ../sass/vincent/_grid.scss */
      .menu-wrap .p-1-1 {
        width: 100%; }
      /* line 26, ../sass/vincent/_grid.scss */
      .menu-wrap .p-1-2 {
        width: 50%;
        display: inline-block; }
      /* line 30, ../sass/vincent/_grid.scss */
      .menu-wrap .p-1-3 {
        width: 33.3%;
        display: inline-block; }
      /* line 34, ../sass/vincent/_grid.scss */
      .menu-wrap .p-2-3 {
        width: 66.6%;
        display: inline-block; }
      /* line 38, ../sass/vincent/_grid.scss */
      .menu-wrap .p-0 {
        display: none; }
      /* line 41, ../sass/vincent/_grid.scss */
      .menu-wrap .p-1-1,
      .menu-wrap .p-1-2,
      .menu-wrap .p-1-3,
      .menu-wrap .p-2-3 {
        position: relative;
        padding-left: 15px;
        padding-right: 15px; } }

/* line 68, ../sass/style.scss */
.menu-logo {
  width: 30%;
  display: inline-block; }
  @media (max-width: 767px) {
    /* line 68, ../sass/style.scss */
    .menu-logo {
      width: 50%; }
      /* line 23, ../sass/vincent/_grid.scss */
      .menu-logo .p-1-1 {
        width: 100%; }
      /* line 26, ../sass/vincent/_grid.scss */
      .menu-logo .p-1-2 {
        width: 50%;
        display: inline-block; }
      /* line 30, ../sass/vincent/_grid.scss */
      .menu-logo .p-1-3 {
        width: 33.3%;
        display: inline-block; }
      /* line 34, ../sass/vincent/_grid.scss */
      .menu-logo .p-2-3 {
        width: 66.6%;
        display: inline-block; }
      /* line 38, ../sass/vincent/_grid.scss */
      .menu-logo .p-0 {
        display: none; }
      /* line 41, ../sass/vincent/_grid.scss */
      .menu-logo .p-1-1,
      .menu-logo .p-1-2,
      .menu-logo .p-1-3,
      .menu-logo .p-2-3 {
        position: relative;
        padding-left: 15px;
        padding-right: 15px; } }

/* line 75, ../sass/style.scss */
.menu-logo img {
  width: 100%;
  height: auto;
  padding: 5px 0; }

/* line 81, ../sass/style.scss */
.menu-links {
  float: right;
  display: inline-block;
  vertical-align: middle; }
  @media (max-width: 767px) {
    /* line 81, ../sass/style.scss */
    .menu-links {
      width: 50%; }
      /* line 23, ../sass/vincent/_grid.scss */
      .menu-links .p-1-1 {
        width: 100%; }
      /* line 26, ../sass/vincent/_grid.scss */
      .menu-links .p-1-2 {
        width: 50%;
        display: inline-block; }
      /* line 30, ../sass/vincent/_grid.scss */
      .menu-links .p-1-3 {
        width: 33.3%;
        display: inline-block; }
      /* line 34, ../sass/vincent/_grid.scss */
      .menu-links .p-2-3 {
        width: 66.6%;
        display: inline-block; }
      /* line 38, ../sass/vincent/_grid.scss */
      .menu-links .p-0 {
        display: none; }
      /* line 41, ../sass/vincent/_grid.scss */
      .menu-links .p-1-1,
      .menu-links .p-1-2,
      .menu-links .p-1-3,
      .menu-links .p-2-3 {
        position: relative;
        padding-left: 15px;
        padding-right: 15px; } }

/* line 89, ../sass/style.scss */
.menu-links a {
  padding: 25px;
  display: inline-block; }
  @media (max-width: 767px) {
    /* line 89, ../sass/style.scss */
    .menu-links a {
      padding: 10px; }
      /* line 23, ../sass/vincent/_grid.scss */
      .menu-links a .p-1-1 {
        width: 100%; }
      /* line 26, ../sass/vincent/_grid.scss */
      .menu-links a .p-1-2 {
        width: 50%;
        display: inline-block; }
      /* line 30, ../sass/vincent/_grid.scss */
      .menu-links a .p-1-3 {
        width: 33.3%;
        display: inline-block; }
      /* line 34, ../sass/vincent/_grid.scss */
      .menu-links a .p-2-3 {
        width: 66.6%;
        display: inline-block; }
      /* line 38, ../sass/vincent/_grid.scss */
      .menu-links a .p-0 {
        display: none; }
      /* line 41, ../sass/vincent/_grid.scss */
      .menu-links a .p-1-1,
      .menu-links a .p-1-2,
      .menu-links a .p-1-3,
      .menu-links a .p-2-3 {
        position: relative;
        padding-left: 15px;
        padding-right: 15px; } }

/* line 97, ../sass/style.scss */
.wrap {
  width: 100%;
  padding: 0 15%; }
  @media (max-width: 767px) {
    /* line 97, ../sass/style.scss */
    .wrap {
      padding: 0 5%; }
      /* line 23, ../sass/vincent/_grid.scss */
      .wrap .p-1-1 {
        width: 100%; }
      /* line 26, ../sass/vincent/_grid.scss */
      .wrap .p-1-2 {
        width: 50%;
        display: inline-block; }
      /* line 30, ../sass/vincent/_grid.scss */
      .wrap .p-1-3 {
        width: 33.3%;
        display: inline-block; }
      /* line 34, ../sass/vincent/_grid.scss */
      .wrap .p-2-3 {
        width: 66.6%;
        display: inline-block; }
      /* line 38, ../sass/vincent/_grid.scss */
      .wrap .p-0 {
        display: none; }
      /* line 41, ../sass/vincent/_grid.scss */
      .wrap .p-1-1,
      .wrap .p-1-2,
      .wrap .p-1-3,
      .wrap .p-2-3 {
        position: relative;
        padding-left: 15px;
        padding-right: 15px; } }

/* line 105, ../sass/style.scss */
.row-sell {
  background: #EEE; }

/* line 108, ../sass/style.scss */
.button {
  text-decoration: none;
  background: rgba(255, 255, 255, 0);
  color: #F44;
  border: 2px solid #F44;
  border-radius: 5px;
  padding: 25px;
  display: inline-block; }
  @media (max-width: 767px) {
    /* line 108, ../sass/style.scss */
    .button {
      padding: 10px; }
      /* line 23, ../sass/vincent/_grid.scss */
      .button .p-1-1 {
        width: 100%; }
      /* line 26, ../sass/vincent/_grid.scss */
      .button .p-1-2 {
        width: 50%;
        display: inline-block; }
      /* line 30, ../sass/vincent/_grid.scss */
      .button .p-1-3 {
        width: 33.3%;
        display: inline-block; }
      /* line 34, ../sass/vincent/_grid.scss */
      .button .p-2-3 {
        width: 66.6%;
        display: inline-block; }
      /* line 38, ../sass/vincent/_grid.scss */
      .button .p-0 {
        display: none; }
      /* line 41, ../sass/vincent/_grid.scss */
      .button .p-1-1,
      .button .p-1-2,
      .button .p-1-3,
      .button .p-2-3 {
        position: relative;
        padding-left: 15px;
        padding-right: 15px; } }

/* line 120, ../sass/style.scss */
.button:hover {
  color: #fff;
  background: #F44; }

/* line 125, ../sass/style.scss */
.footer-wrap {
  width: 100%;
  padding: 0 15%;
  background: #222;
  color: #fff; }
  @media (max-width: 767px) {
    /* line 125, ../sass/style.scss */
    .footer-wrap {
      padding: 0 5%; }
      /* line 23, ../sass/vincent/_grid.scss */
      .footer-wrap .p-1-1 {
        width: 100%; }
      /* line 26, ../sass/vincent/_grid.scss */
      .footer-wrap .p-1-2 {
        width: 50%;
        display: inline-block; }
      /* line 30, ../sass/vincent/_grid.scss */
      .footer-wrap .p-1-3 {
        width: 33.3%;
        display: inline-block; }
      /* line 34, ../sass/vincent/_grid.scss */
      .footer-wrap .p-2-3 {
        width: 66.6%;
        display: inline-block; }
      /* line 38, ../sass/vincent/_grid.scss */
      .footer-wrap .p-0 {
        display: none; }
      /* line 41, ../sass/vincent/_grid.scss */
      .footer-wrap .p-1-1,
      .footer-wrap .p-1-2,
      .footer-wrap .p-1-3,
      .footer-wrap .p-2-3 {
        position: relative;
        padding-left: 15px;
        padding-right: 15px; } }

/* line 134, ../sass/style.scss */
.footer-wrap * {
  color: #fff; }

/* line 137, ../sass/style.scss */
.footer-wrap * img {
  width: 200px;
  display: block; }
